body {
    background-color: rgb(19, 19, 19);
    color: white;
    overflow-x: hidden;
    font-family: 'Russo One', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-moz-selection {
    /* Code for Firefox */
    color: red;
    /* background: red; */
}

::selection {
    color: gray;
    /* background: red; */
}

/* Custom Scroll-Bar */

::-webkit-scrollbar {
    width: .7rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(122, 122, 122);
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

/*************** Navbar  ***************/

.navbar-top {
    padding: .5rem 8rem;
    /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.486)); */
    background-color: rgb(19, 19, 19);
}

.navbar-after {
    padding: 0 8rem;
    background-color: rgb(15, 15, 15);
    /* background: linear-gradient(to bottom, #000000 80%, rgb(71, 71, 71) 100%); */
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
    padding: 2rem;
    font-size: 1.3rem;
}

.nav-link:hover {
    color: red;
}

.nav-item {
    padding: 0rem 1rem;
}

.brand {
    width: 100%;
    height: auto;
}

.brand img {
    float: left;
    margin: 0;
    height: 3.5rem;
}

.brand-text {
    color: white;
    text-decoration: none;
}

.navbar-toggler {
    font-size: 1.8rem;
    color: red;
}

/************** home  **************/

/* Scroll-Bar Button  */

#scroll-up {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    font-size: 2rem;
    border: .2rem solid red;
    background-color: rgb(19, 19, 19);
    color: red;
    cursor: pointer;
    padding: .1rem .5rem;
    border-radius: .6em;
}

#scroll-up:hover {
    background-color: red;
    color: white;
}


/* Home  */

#home .home {
    /* height: 100vh; */
    min-height: 70vh;
    width: 100vw;
    /* align-items: center;
    text-align: center; */
    padding: 13rem 9rem;
}

.home .title h1 {
    font-size: 4.5rem;
}

.gray-text {
    color: gray;
}

.red-text {
    color: red;
}

.home .subtitle {
    margin: 2rem;
    margin-left: 0;
}

.home h2 {
    font-size: 1.8rem;
}

.home .subtitle h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.home a {
    display: inline-block;
    color: red;
    font-size: 1rem;
    padding: .8em 1.5em;
    margin-top: 20px;
    font-weight: 400;
    border-radius: .6em;
    border: .2rem solid red;
    transition: all 0.3s ease;
    text-decoration: none;
}

.home a:hover {
    background-color: red;
    color: white;
}

.btn-icon {
    margin-left: .7rem;
}

/************** about **************/

#about {
    background-color: rgb(25, 25, 25);
}

.about {
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    text-align: center;
    padding: 10rem;
}

.about .title h1 {
    font-size: 3rem;
    margin: .5em;
}

.about .subtitle {
    margin-bottom: 3.5em;
}

.about .subtitle h3 {
    font-size: 1.4rem;
    color: red;
}

.about .more-subtitle {
    padding: 0 10rem;
}

.about p {
    font-size: 1.3rem;
}

.about a {
    display: inline-block;
    color: red;
    font-size: 1rem;
    padding: .8em 1.5em;
    margin-top: 1.5rem 0;
    font-weight: 400;
    border-radius: .6em;
    border: .2rem solid red;
    transition: all 0.3s ease;
    text-decoration: none;
}

.cv-btn {
    margin-top: 1.8rem;
}

.about a:hover {
    background-color: red;
    color: white;
}

/************** skills **************/

#skills {
    min-height: 70vh;
    width: 100vw;
    align-items: center;
    text-align: center;
    padding: 5rem 4rem;
}

.home-skills .title {
    margin-bottom: 2.5rem;
}

.skills {
    padding: 0;
}

.skills h2 {
    color: red;
    font-size: 1.2rem;
}

.skill-set {
    /* height: 25rem; */
    padding: 2rem;
}

.skill-set .card {
    border: .3rem solid gray;
    border-radius: 1em;
    height: 100%;
    background-color: rgb(19, 19, 19);
    padding: 1.2rem;
    color: white;
}

.skill-set .card .skill-list{
    align-items: center;
    text-align: center;
    padding: 1em;
}



/* responsive media query start */

@media (max-width: 1180px) {
    .about {
        padding: 5rem;
    }

    .about .more-subtitle {
        padding: 0 7rem;
    }
}

@media (max-width: 1080px) {

    .navbar {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .nav-link {
        font-size: 1rem;
    }

    .brand img {
        height: 3rem;
    }

    #home .home {
        padding: 15rem 6rem;
    }

    .home .title h1 {
        font-size: 4rem;
    }

    .home .subtitle {
        margin: 2rem;
        margin-left: 0;
    }

    .home a {
        font-size: 1rem;
        padding: .7em 1.4em;
    }

    .about {
        padding: 3rem;
    }

    .about .title h1 {
        font-size: 2.5rem;
    }

    .about .subtitle h3 {
        font-size: 1.4rem;
    }

    .about .more-subtitle {
        padding: 0 2rem;
    }

    .about p {
        font-size: 1.1rem;
    }

}


@media (max-width: 800px) {

    .navbar {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #home .home {
        padding: 15rem 2rem;
    }

    .home .title h1 {
        margin: 2rem;
        margin-left: 0;
        font-size: 3rem;
    }

    .home h2 {
        font-size: 1.5rem;
    }

    .home .subtitle {
        margin: 3rem;
        margin-left: 0;
        font-size: 1.2rem;
    }

    .home a {
        font-size: 1rem;
        padding: .7em 1.4em;
    }

    .about {
        padding: 0.1rem;
    }

    .about .more-subtitle {
        padding: 0 6rem;
    }

    .about a {
        font-size: 1rem;
        padding: .4em .8em;
    }
}